
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <style>
    body {
      margin: 0; 
      font-family: Arial, sans-serif; 
      background-image: url('https://media.istockphoto.com/id/1519453171/photo/food-cooking-ingredients-background-top-view-healthy-vegetarian-eating.webp?b=1&s=170667a&w=0&k=20&c=qkxd2W8SSB67WN1G7qoyOQVlgXBX11WT41n8DWIFfLg=');
      background-size: cover;
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white; 
    }
    .form-container {
      background-color: rgba(0, 0, 0, 0.6); 
      padding: 20px;
      border-radius: 10px;
      max-width: 400px;
      width: 100%;
      text-align: center;
    }
    .form-container h1 {
      color: white;
    }
    .form-container .input-group {
      margin-bottom: 15px;
    }
    .form-container .btn-primary {
      width: 100%;
    }
    .form-container a {
      color: white;
      text-decoration: none;
    }
    .form-container a:hover {
      text-decoration: underline;
    }
  </style>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
  <div class="form-container">
    <h1>Forgot Password</h1>
    <form #forgotPasswordForm="ngForm" (ngSubmit)="sendOTP()" novalidate>
      <div style="width: 250px; margin: 0 auto;">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
          <input type="text" class="form-control" name="emailId" [(ngModel)]="emailId" required placeholder="Enter Email">
          <div *ngIf="forgotPasswordForm.submitted && !emailId" style="color: red;">Please Enter Email</div>
        </div> <br/>
        <button class="btn btn-primary" type="submit" >Send OTP</button>
        <p><a routerLink="/login">Back to Login</a></p>
      </div>
    </form>
  </div>
</body>
</html>
