<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <style>
        body {
            background-image: url('https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L2lzMTYwNjItaW1hZ2Uta3d2eWZrd3IuanBn.jpg');
            background-size: cover;
            min-height: 80vh; /* Adjusted min-height */
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Arial, sans-serif;
            color: white;
            margin: 0; /* Remove default margin */
            padding: 10px; /* Remove default padding */
            padding-top: 40px;
        }
        .registration-container {
            background-color: rgba(0, 0, 0, 0.6); /* semi-transparent black background */
            padding: 60px; /* Reduced padding for a smaller container */
            border-radius: 10px;
            max-width: 500px; /* Adjusted max-width */
            width: 100%;
            text-align: center;
            padding-top: 40px;
            margin-top: 20px; /* Added margin top to create space */
        }
        .registration-form {
            width: 100%;
            max-width: 400px;
            margin: 0 auto;
        }
        .input-group {
            margin-bottom: 15px;
        }
    </style>
    <!-- Latest compiled and minified CSS for Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
          crossorigin="anonymous">
</head>
<body>

<div class="registration-container">
    <h1>User Registration</h1>

    <form class="registration-form" #registrationForm="ngForm" (ngSubmit)="submit()" novalidate>

        <!-- Username -->
        <div class="input-group">
            <span class="input-group-addon">Username</span>
            <input type="text" class="form-control" name="userName" [(ngModel)]="user.userName" #userName="ngModel"
                   required minlength="2" maxlength="40"/>
        </div>
        <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="text-danger">
            <div *ngIf="userName.errors?.['required']">Username is required.</div>
            <div *ngIf="userName.errors?.['minlength']">Username must be at least 2 characters long.</div>
            <div *ngIf="userName.errors?.['maxlength']">Username cannot be more than 40 characters long.</div>
        </div>
        <br/>

        <!-- Gender -->
        <div class="input-group">
            <span class="input-group-addon">Gender</span>
            <select class="form-control" name="gender" [(ngModel)]="user.gender" #gender="ngModel" required>
                <option value="" disabled selected>Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Others">Others</option>
            </select>
        </div>
        <div *ngIf="gender.invalid && (gender.dirty || gender.touched)" class="text-danger">
            <div *ngIf="gender.errors?.['required']">Gender is required.</div>
        </div>
        <br/>

        <!-- Country -->
        <div class="input-group">
            <span class="input-group-addon">Country</span>
            <select class="form-control" name="country" [(ngModel)]="user.country" #country="ngModel" required>
                <option value="" disabled selected>Select Country</option>
                <option *ngFor="let country of countries" [value]="country.cca3">{{country.name.common}}</option>
            </select>
        </div>
        <div *ngIf="country.invalid && (country.dirty || country.touched)" class="text-danger">
            <div *ngIf="country.errors?.['required']">Country is required.</div>
        </div>
        <br/>

        <!-- Mobile Number -->
        <div class="input-group">
            <span class="input-group-addon">Mobile Number</span>
            <input type="text" class="form-control" id="mobileNum" name="mobileNum" [(ngModel)]="user.mobileNum"
                   #mobileNum="ngModel" required minlength="10" maxlength="10" pattern="^[6-9]\d{9}$"/>
        </div>
        <div *ngIf="mobileNum.invalid && (mobileNum.dirty || mobileNum.touched)" class="text-danger">
            <div *ngIf="mobileNum.errors?.['required']">Mobile number is required.</div>
            <div *ngIf="mobileNum.errors?.['minlength']">Mobile number must be exactly 10 digits long.</div>
            <div *ngIf="mobileNum.errors?.['maxlength']">Mobile number must be exactly 10 digits long.</div>
            <div *ngIf="mobileNum.errors?.['pattern']">Mobile number must start with 6, 7, 8, or 9 and contain only digits.
            </div>
        </div>
        <br/>

        <!-- Email -->
        <!-- <div class="input-group">
            <span class="input-group-addon">Email</span>
            <input type="email" class="form-control" name="emailId" [(ngModel)]="user.emailId" #emailId="ngModel"
            required pattern="[a-zA-Z0-9._%+-]+&#64;.+\.com"/>
        </div>
        <div *ngIf="emailId.invalid && (emailId.dirty || emailId.touched)" class="text-danger">
            <div *ngIf="emailId.errors?.['required']">Email is required.</div>
            <div *ngIf="emailId.errors?.['email']"> Email must be a valid email address ending with &#64;.com.</div>
        </div>
        <br/> -->

        <!-- Email -->
<div class="input-group">
    <span class="input-group-addon">Email</span>
    <input type="email" class="form-control" name="emailId" [(ngModel)]="user.emailId" #emailId="ngModel"
           required pattern="[a-zA-Z0-9._%+-]+@+[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"/>
</div>
<div *ngIf="emailId.invalid && (emailId.dirty || emailId.touched)" class="text-danger">
    <div *ngIf="emailId.errors?.['required']">Email is required.</div>
    <div *ngIf="emailId.errors?.['pattern']">Email must be a valid  email address with .com</div>
</div>


        <!-- Password -->
        <div class="input-group">
            <span class="input-group-addon">Password</span>
            <input type="password" class="form-control" name="password" [(ngModel)]="user.password" #password="ngModel"
                   required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%?&])[A-Za-z\d$@$!%?&]{8,}$"
                   maxlength="20"/>
        </div>
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
            <div *ngIf="password.errors?.['required']">Password is required.</div>
            <div *ngIf="password.errors?.['maxlength']">Password cannot be more than 20 characters long.</div>
            <div *ngIf="password.errors?.['pattern']">
                Password must contain at least 8 characters, including one uppercase letter, one lowercase letter, one
                number, and one special character.
            </div>
        </div>

        <br/>

        <!-- Confirm Password -->
        <div class="input-group">
            <span class="input-group-addon">Confirm Password</span>
            <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="confirmPassword"/>
        </div>
        
        <br/>

        <!-- Register Button -->
        <button class="btn btn-primary" [disabled]="!registrationForm.valid">Register</button>
        Already a user? <a routerLink="/login">SignIn</a>

    </form>
</div>

</body>
</html>
