<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Food Website Navbar</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <style>
    .navbar {
      padding: 20px 10px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      position: fixed;
      top: 0;
      z-index: 1000;
      /* Change background color */
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
      transition: all 0.3s ease; /* Smooth transition for navbar changes */
    }

    .navbar-brand {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 24px;
      color: #fff;
      font-family: 'Arial', sans-serif; /* Change font style */
    }

    .navbar-nav .nav-item {
      margin-right: 15px;
      display: flex;
      align-items: center; /* Center items vertically */
    }

    .navbar-nav .nav-link {
      color: #fff;
      font-weight: bold; /* Increase font-weight */
      transition: color 0.3s ease; /* Add transition for smooth color change */
      display: flex;
      align-items: center; /* Center items vertically */
    }

    .navbar-nav .nav-link:hover {
      color: #ccc; /* Change color on hover */
    }

    .navbar-toggler {
      border-color: #fff;
      transition: all 0.3s ease; /* Smooth transition for toggler icon */
    }

    .navbar-toggler-icon {
      background-color: #fff;
    }

    /* Align items to the right */
    .navbar-right {
      display: flex;
      align-items: center;
    }

    /* Adjustments for small screens */
    @media (max-width: 768px) {
      .navbar-nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      .navbar-nav .nav-item {
        margin-right: 0;
      }
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <i class="fas fa-utensils"></i> Food Website
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" [class.disabled]="loginStatus" routerLink="home"><i class="fas fa-home"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.disabled]="loginStatus" routerLink="about"><i class="fas fa-info-circle"></i> About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.disabled]="loginStatus" routerLink="addrecipe"><i class="fas fa-plus"></i> Add Recipe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.disabled]="loginStatus" routerLink="contact-us"><i class="fas fa-phone"></i> Contact Us</a>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link" [class.disabled]="loginStatus" routerLink="login"><i class="fas fa-sign-in-alt"></i> Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.disabled]="loginStatus" routerLink="register"><i class="fas fa-user-plus"></i> Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.disabled]="!loginStatus" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Scripts for Bootstrap and Angular -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-hxNv1r2mOa1n3el6hsP76aWjZxI3lc1lO9Afvwq6jH8xdBfq3g/Zz0nF0rHS7AEM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/angular@1.8.2/angular.min.js"></script>
</body>
</html>
