/* src/app/preview/preview.component.css */

/* Reset some default margin and padding */
html, body {
    margin: 0;
    padding: 0;
  }
  
  /* Ensure full-screen view */
  .full-screen-preview {
    height: 100vh; /* Full viewport height */
    overflow: hidden; /* Hide overflow to prevent scrolling */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack elements vertically */
  }
  
  /* Header styling */
  .preview__header {
    background-color: #f1f1f1; /* Light gray background */
    padding: 10px;
    text-align: center;
  }
  
  /* Iframe container styling */
  .full-screen-preview__frame {
    flex: 1; /* Take remaining vertical space */
    border: none; /* Remove border around iframe */
    width: 100%; /* Full width */
  }
  
  /* Responsive iframe height calculation */
  @media screen and (max-width: 768px) {
    .full-screen-preview__frame {
      height: calc(100vh - 100px); /* Adjust height for smaller screens */
    }
  }
  
  /* Additional styles specific to your iframe content may be added here */
  
  