



<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form</title>
  <style>
    @-webkit-keyframes fadeIn {
      from { opacity: 0; }
      to { opacity: 1; }
    }

    @keyframes fadeIn {
      from { opacity: 0; }
      to { opacity: 1; }
    }

    @-webkit-keyframes inputFocus {
      from { box-shadow: none; }
      to { box-shadow: 0 0 5px rgba(255, 255, 255, 0.8); }
    }

    @keyframes inputFocus {
      from { box-shadow: none; }
      to { box-shadow: 0 0 5px rgba(255, 255, 255, 0.8); }
    }

    body {
      margin: 0; 
      font-family: Arial, sans-serif; 
    }
    
    .background-container {
      background-image: url('https://media.istockphoto.com/id/1519453171/photo/food-cooking-ingredients-background-top-view-healthy-vegetarian-eating.webp?b=1&s=170667a&w=0&k=20&c=qkxd2W8SSB67WN1G7qoyOQVlgXBX11WT41n8DWIFfLg=');
      background-size: cover;
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white; 
      -webkit-animation: fadeIn 2s;
      animation: fadeIn 2s;
    }

    .form-container {
      background-color: rgba(0, 0, 0, 0.6); 
      padding: 20px;
      border-radius: 10px;
      max-width: 400px;
      width: 100%;
      text-align: center;
    }

    .form-container h1 {
      color: white;
    }

    .form-container .input-group {
      margin-bottom: 15px;
    }

    .form-container .form-control:focus {
      -webkit-animation: inputFocus 0.5s;
      animation: inputFocus 0.5s;
    }

    .form-container .btn-primary {
      width: 100%;
    }

    .form-container a {
      color: white;
      text-decoration: none;
    }

    .form-container a:hover {
      text-decoration: underline;
    }

    .captcha-container {
      transform: scale(0.8);
      width: 40px;
      height: 30px;
    }
  </style>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <!-- Font Awesome CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

<div class="background-container">
  <div class="form-container">
    <h1>Login Form</h1>

    <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)" novalidate>
     
      <div style="width: 250px; margin: 0 auto;">
        <div class="input-group">
          <span class="input-group-addon"><i class="fas fa-envelope"></i></span>
          <input type="text" class="form-control" name="emailId" #emailId="ngModel" ngModel required minlength="2" maxlength="40" placeholder="Enter Email">
          <div *ngIf="emailId.errors?.['required'] && emailId.touched" style="color: red;">Please Enter Email</div>
          <div *ngIf="emailId.errors?.['minlength'] && emailId.touched" style="color: red;">Please Enter at least 2 Characters for Email</div>
        </div> <br/>
          
        <div class="input-group">
          <span class="input-group-addon"><i class="fas fa-lock"></i></span>
          <input type="password" class="form-control" name="password" #password="ngModel" ngModel required minlength="2" maxlength="20" placeholder="Enter Password">
          <div *ngIf="password.errors?.['required'] && password.touched" style="color: red;">Please Enter Password</div>
          <div *ngIf="password.errors?.['minlength'] && password.touched" style="color: red;">Please Enter at least 2 Characters for Password</div>
        </div> <br/>
  
        <div class="captcha-container">
          <form [formGroup]="aFormGroup" style="width: 40px;">
            <ngx-recaptcha2 #captchaElem
              [siteKey]="siteKey"
              formControlName="recaptcha">
            </ngx-recaptcha2>
          </form>
        </div><br><br>
  
        <button class="btn btn-primary">Login</button>
        
        <p>New User? <a routerLink="//register">SignUp</a></p>
        <p><a routerLink="//forgot-password">Forgot Password</a></p>
      </div>
    
    </form>
  </div>
</div>

</body>
</html>

